[submodule "vendors/auto-complete"]
	path = vendors/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "vendors/twilight-emacs"]
	path = vendors/twilight-emacs
	url = git@github.com:inkel/twilight-emacs.git
[submodule "vendors/haml-mode"]
	path = vendors/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "vendors/sass-mode"]
	path = vendors/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "vendors/rinari"]
	path = vendors/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vendors/yaml-mode"]
	path = vendors/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "vendors/cucumber.el"]
	path = vendors/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el
[submodule "vendors/ruby-electric"]
	path = vendors/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
